div.top-header
  div.logo-small
    img(src="/images/logo_white.svg")
  ul.user-wrapper
    li.user__account
      div.avatar.small(style="background-image: url(#{user.avatar});")
      a(href="/users/#{user.username}#profile")
        = user.fullname
    li.seperate-line
    li.user__chat
      i.fa.fa-comments
      a(href="/users/#{user.username}#chat")
        | Chat Groups
    li.seperate-line
    li.user__task
      i.fa.fa-check-square
      a(href="/users/#{user.username}#tasks")
        | Tasks List
    li.seperate-line
    li.user__setting
      i.fa.fa-gear
      a(href="")
        | Setting
    li.seperate-line
    li.user__logout
      i.fa.fa-sign-out
      a(href="/logout")
        | Logout