div.navbar
  div.logo-small
    img(src="/images/logo_w_30.png")

  ul.user-wrapper
    li.user__chat
      a(href="/users/#{user.username}#chat")
        i.glyphicons.chat
    li.user__task
      a(href="/users/#{user.username}#tasks")
        i.glyphicons.check
    li.user__account
      a(href="/users/#{user.username}#profile")
        i.glyphicons.user
    li.user__setting
      a(href="/users/#{user.username}#settings")
        i.glyphicons.settings
    li.user__logout
      a(href="/logout")
        i.glyphicons.power
