div.top-header
  div.logo-small
    img(src="/images/logo_white.svg")
  ul.user-wrapper
    li.user__avatar
      div.avatar(style="background-image: url(#{user.avatar});")
    li.user__account
      a(href="/users/#{user.username}/profile")
        = user.fullname
    li.user__chat
      i.fa.fa-comments
      a(href="/users/#{user.username}/chat")
        | Chat Groups
    li.user__task
      i.fa.fa-check-square
      a(href="/users/#{user.username}/tasks")
        | Tasks List
    li.user__setting
      i.fa.fa-gear
      a(href="")
        | Setting
    li.user__logout
      i.fa.fa-sign-out
      a(href="/logout")
        | Logout