div.top-header
  div.logo-small
    img(src="/images/logo_white.svg")
  ul.user-wrapper
    li.user__avatar
      div.avatar.small(style="background-image: url(#{user.avatar});")
    li.user__account
      a(href="/users/#{user.username}/profile")
        = user.fullname
    li.user__chat
      a(href="/users/#{user.username}/chat")
        | Chat Groups
    li.user__notification
      a(href="")
        | Notification
    //- li.seperate-line
    li.user__logout
      a(href="/logout")
        | Logout