extends ../layout

block content
  include ../includes/_header
  div.user-content
    h1
      | This is task page
    h2 Your tasks
    each task in receivedTasks
      div
        = task.content
      div
        | from #{task.giver.fullname}
    h2 Track other's tasks
    each task in givenTasks
      div
        = task.content
      div
        | to #{task.receiver.fullname}