extends ../layout

block content
  include ../includes/_header
  div.user-content
    h1
      | This is task page

    h2 Your tasks
    ul
      each task in receivedTasks
        li
          = task.content
          br
          | from #{task.giver.fullname}

    h2 Track other's tasks
    ul
      each task in givenTasks
        li
          = task.content
          br
          | to #{task.receiver.fullname}
  script(type='text/javascript').
    $(".user__task").addClass("selected");