<div class="overlay fade-in">
  <div class="center">
    <div id="add-member-popup" class="round-corner">

      <div id="popup__search">
        <form id="search-users-form" class="form" method="POST" autocomplete="off">
          <div class="form__control">
            <input id="keyword" name="keyword" type="text" placeholder="Search members for {{group_name}}..."/>
            <button class="submit-button">
              <i class="fa fa-search"></i>
            </button>
          </div>
          <div class="clear"></div>
        </form>
      </div>

      <div id="popup__results">
      </div>

      <div id="popup__buttons">
        <button class="button small cancel-button">Cancel</button>
        <button class="button small confirm-button">Confirm</button>
      </div>

    </div>
  </div>
</div>