<div id="group-{{id}}" class="chat-window drop-shadow round-corner zoom-in">
  <div class="chat-window__helper">
    <div class="helper--title">
      {{name}}
    </div>
    <div class="helper--close-button">
      <i class="fa fa-times"></i>
    </div>
    <div class="helper--buzz">
      <i class="fa fa-bell"></i>
    </div>
    <div class="helper--share">
      <i class="fa fa-picture-o"></i>
    </div>
  </div>

  <div class="chat-window__room"></div>

  <div class="chat-window__type">
    <form class="chat-form" data-groupid="{{id}}" method="POST" autocomplete="off">
      <div class="form__control">
        <button class="chat-submit-button" type="submit">
          <i class="fa fa-pencil"></i>
        </button>
      </div>
      <div class="form__control">
        <textarea class="chat-input" name="chat-input" placeholder="What is your idea..."></textarea>
      </div>
    </form>
  </div>
</div>