<div id="group-{{_id}}" class="chat-window round-corner zoom-in">
  <div class="chat-window__head">
    <div class="title">
      {{group_name}}
    </div>
    <div class="close-button">
      <i class="glyphicons remove_2"></i>
    </div>
    <div class="members-list">
      {{#each users}}
        <img src="{{avatar}}" class="member-avatar" title="{{fullname}}"/>
      {{/each}}
    </div>
  </div>

  <div class="chat-window__room"></div>

  <div class="chat-window__actions">
    <span class="action--invite">
      <i class="halflings envelope"></i>
      <a href="">Invite members</a>
    </span>
    <span class="action--share">
      <i class="halflings picture"></i>
      <a href="">Share image</a>
    </span>
  </div>

  <div class="chat-window__input">
    <form class="chat-form" data-groupid="{{_id}}" method="POST" autocomplete="off">
      <div class="form__control">
        <textarea class="chat-input" name="chat-input" placeholder="What is your idea..."></textarea>
        <button class="chat-submit-button" type="submit">
          <i class="glyphicons share"></i>
        </button>
      </div>
    </form>
  </div>
</div>