@font-face
  font-family Open Sans
  font-weight 300
  font-style normal
  src url(/fonts/open_sans/OpenSans-Light.ttf)

@font-face
  font-family Open Sans
  font-weight 400
  font-style normal
  src url(/fonts/open_sans/OpenSans-Regular.ttf)

@font-face
  font-family Open Sans
  font-weight 600
  font-style normal
  src url(/fonts/open_sans/OpenSans-Semibold.ttf)

@font-face
  font-family Open Sans
  font-weight 700
  font-style normal
  src url(/fonts/open_sans/OpenSans-Bold.ttf)

@font-face
  font-family Open Sans
  font-weight 800
  font-style normal
  src url(/fonts/open_sans/OpenSans-ExtraBold.ttf)