vendor(prop, args)
	-webkit-{prop} args /* Chrome/Safari */
	-moz-{prop} args /* Firefox */
	-ms-{prop} args /* IE10+ */
	-o-{prop} args
	{prop} args

border-radius()
	vendor('border-radius', arguments)

box-shadow()
	vendor('box-shadow', arguments)

animation()
	vendor('animation', arguments)

transition()
	vendor('transition', arguments)

transform()
	vendor('transform', arguments)

transform-origin()
	vendor('transform-origin', arguments)

prevent-doubleclick()
	vendor('user-select', none)

dialog-box(w,h,bg-clr,type,pos)
	position: absolute
	width: w
	height: h
	padding: 15px
	background-color: bg-clr
	border-radius(4px)
	&:after
		content: ""
		position: absolute
		top: pos
		if type is 'right'
			right: -20px
			border-top: solid 10px transparent
			border-right: solid 10px transparent
			border-bottom: solid 10px transparent
			border-left: solid 10px bg-clr
		else
			left: -20px
			border-top: solid 10px transparent
			border-right: solid 10px bg-clr
			border-bottom: solid 10px transparent
			border-left: solid 10px transparent

bg-sprite(bg_url,w,h,l,t)
	background-image: url(bg_url)
	width: w
	height: h
	background-position: l t