/*------------------------------------*     $CONTENTS
\*------------------------------------*/
/**
 * CONTENTS............You’re reading it!
 * DEFAULTS............Set defaults
 * HOME................Styles for login/signup forms
 * HEADER_BAR..........
 * PROFILE.............
 * CHAT................
 * SETTING.............
 * 401.................Unauthorized page
 * 404.................File not found page
 * COMPONENTS..........
 */
/*------------------------------------*     $DEFAULTS
\*------------------------------------*/
/**
 * used color palette
 * http://www.colourlovers.com/palette/1393494/Brooklyn
 *
 * other palettes:
 * http://www.colourlovers.com/palette/1411495/Color_Oddity
 * http://www.colourlovers.com/palette/1236225/0011
 */
html,
body {
  height: 100%;
  -webkit-user-select: none;
/* Chrome/Safari */
  -moz-user-select: none;
/* Firefox */
  -ms-user-select: none;
/* IE10+ */
  -o-user-select: none;
  user-select: none;
}
body {
  font: 300 14px 'Open Sans', sans-serif;
  background-color: #eee;
}
input,
textarea {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.857142em;
  outline: none;
  border: 0;
}
textarea {
  resize: none;
}
::-webkit-input-placeholder /* WebKit browsers */ {
  color: #888;
}
:-moz-placeholder /* Mozilla Firefox 4 to 18 */ {
  color: #888;
}
::-moz-placeholder /* Mozilla Firefox 19+ */ {
  color: #888;
}
:-ms-input-placeholder /* Internet Explorer 10+ */ {
  color: #888;
}
a {
  color: #ce534d;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}
.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 960px;
  min-height: 500px;
}
/*------------------------------------*     $HOME
\*------------------------------------*/
.section-wrapper--home {
  width: 100%;
  height: 100%;
  color: #888;
  background-color: #222;
}
.form-wrapper {
  position: absolute;
  top: 50%;
  margin-top: -210px;
  left: 50%;
  margin-left: -125px;
  width: 250px;
  text-align: center;
}
.form-wrapper .logo {
  width: 100%;
  height: 100px;
}
.form-wrapper .form .form__control {
  position: relative;
  margin-top: 10px;
}
.form-wrapper .form .form__control input[type="text"],
.form-wrapper .form .form__control input[type="password"] {
  width: 230px;
  padding: 15px 10px;
  color: #888;
  background-color: #333;
}
.form-wrapper #login-form,
.form-wrapper #signup-form {
  display: none;
}
.form-wrapper .button {
  width: 250px;
}
.form-wrapper #submit-button {
  background-color: #ce534d;
}
.form-wrapper a.login-fb-button {
  height: 17px;
  line-height: 47px;
  font-size: 0.857142em;
  background-color: #4c66a4;
}
.form-wrapper a.login-fb-button .fb-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 47px;
  font-size: 1.5em;
  background-color: rgba(0,0,0,0.15);
}
.form-wrapper a.login-fb-button .fb-text {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 47px;
}
.form-wrapper a.login-fb-button:active > * {
  padding-top: 3px;
}
.form-wrapper .error-dialog-box {
  position: absolute;
  top: 0;
  right: -215px;
  color: #c50f13;
  font-size: 0.857142em;
  position: absolute;
  width: 170px;
  height: auto;
  padding: 15px;
  background-color: #fff;
}
.form-wrapper .error-dialog-box:after {
  content: "";
  position: absolute;
  top: 13px;
  left: -20px;
  border-top: solid 10px transparent;
  border-right: solid 10px #fff;
  border-bottom: solid 10px transparent;
  border-left: solid 10px transparent;
}
/*------------------------------------*     $HEADER_BAR
\*------------------------------------*/
.top-header {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 160px;
  background-color: #222;
}
.top-header .logo-small {
  padding: 10px;
  text-align: center;
}
.top-header .logo-small img {
  width: 35px;
  height: 35px;
}
.top-header ul.user-wrapper {
  margin: 0;
  padding: 0;
  list-style: none;
}
.top-header ul.user-wrapper li {
  padding: 10px;
  color: #888;
}
.top-header ul.user-wrapper li .avatar {
  margin: 0 auto;
}
.top-header ul.user-wrapper li i {
  padding-right: 10px;
}
.top-header ul.user-wrapper li a {
  color: #888;
}
.top-header ul.user-wrapper li.selected {
  background-color: #151515;
}
.top-header ul.user-wrapper li.selected i {
  color: #ce534d;
}
.top-header ul.user-wrapper li.user__account {
  padding: 0 0 20px;
  text-align: center;
}
.top-header ul.user-wrapper li.user__account a {
  color: #ce534d;
}
/*------------------------------------*     $PROFILE
\*------------------------------------*/
.profile__image {
  width: 100px;
  height: 100px;
}
/*------------------------------------*     $CHAT
\*------------------------------------*/
.user-content {
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 170px;
  color: #333;
}
.groups-list {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 200px;
  background-color: #fff;
}
.groups-list .form .form__control {
  float: left;
}
.groups-list .form .form__control input[type="text"] {
  width: 151px;
  padding: 8px;
  color: #333;
  background-color: #fff;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.groups-list .form .form__control .button {
  width: 33px;
  height: 33px;
  padding: 0;
  color: #64b6b1;
  background-color: #fff;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.groups-list .form .form__control .button .fa {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  line-height: 33px;
}
.groups-list .form .form__control .button:active > .fa {
  padding-top: 3px;
}
.group {
  padding: 10px;
  border-bottom: solid thin #eee;
}
.group .group__name {
  margin-bottom: 5px;
  font-weight: 600;
  color: #64b6b1;
  cursor: pointer;
}
.group .group__list .member {
  float: left;
  height: 24px;
  line-height: 24px;
  margin: 2px 2px 0 0;
  padding: 0 6px;
  text-align: center;
  font-size: 0.714285em;
  font-weight: 700;
  color: rgba(255,255,255,0.5);
}
.group .group__list .member.a,
.group .group__list .member.m,
.group .group__list .member.y {
  background-color: #ec4b43;
}
.group .group__list .member.b,
.group .group__list .member.n,
.group .group__list .member.z {
  background-color: #8bb5a9;
}
.group .group__list .member.c,
.group .group__list .member.o {
  background-color: #bbad55;
}
.group .group__list .member.d,
.group .group__list .member.p {
  background-color: #e0b0ac;
}
.group .group__list .member.e,
.group .group__list .member.q {
  background-color: #e1ac2c;
}
.group .group__list .member.f,
.group .group__list .member.r {
  background-color: #21544f;
}
.group .group__list .member.g,
.group .group__list .member.s {
  background-color: #d1bfa9;
}
.group .group__list .member.h,
.group .group__list .member.t {
  background-color: #60754e;
}
.group .group__list .member.i,
.group .group__list .member.u {
  background-color: #6c3f46;
}
.group .group__list .member.j,
.group .group__list .member.v {
  background-color: #55897d;
}
.group .group__list .member.k,
.group .group__list .member.w {
  background-color: #c13929;
}
.group .group__list .member.l,
.group .group__list .member.x {
  background-color: #811b28;
}
.group .group__list .member-avatar {
  display: block;
  float: left;
  width: 24px;
  height: 24px;
  margin: 2px 2px 0 0;
}
#chat-windows-container {
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 225px;
}
.chat-window {
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  background-color: #fff;
  box-shadow: 0 1px 0 rgba(0,0,0,0.2);
}
.chat-window .chat-window__helper {
  height: 33px;
  line-height: 33px;
  border-bottom: solid thin #eee;
}
.chat-window .chat-window__helper>* {
  padding: 0 8px;
}
.chat-window .chat-window__helper .helper--title {
  float: left;
  font-weight: 600;
}
.chat-window .chat-window__helper .helper--buzz {
  float: right;
  font-size: 1.142857em;
  color: #eee;
}
.chat-window .chat-window__helper .helper--close-button {
  float: right;
  font-size: 1.142857em;
  color: #c50f13;
}
.chat-window .chat-window__room {
  position: absolute;
  top: 34px;
  right: 0;
  bottom: 46px;
  left: 0;
  overflow: auto;
}
.chat-window .chat-window__type {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 45px;
  border-top: solid thin #eee;
}
.chat-window .chat-window__type .form__control:nth-of-type(1) {
  float: right;
  width: 45px;
}
.chat-window .chat-window__type .chat-submit-button {
  width: 45px;
  height: 45px;
  font-size: 1.5em;
  color: #64b6b1;
  background-color: #fff;
}
.chat-window .chat-window__type .chat-submit-button:active {
  box-shadow: none;
}
.chat-window .chat-window__type .form__control:nth-of-type(2) {
  margin-right: 61px;
}
.chat-window .chat-window__type .chat-input {
  width: 100%;
  height: 17px;
  padding: 14px 8px;
}
.chat-line--me {
  position: relative;
  margin: 20px;
}
.chat-line--me .avatar {
  position: absolute;
  top: 1px;
  right: 0px;
}
.chat-line--me .chat-box {
  position: absolute;
  width: auto;
  height: auto;
  padding: 15px;
  background-color: #64b6b1;
  position: relative;
  float: right;
  min-width: 25%;
  max-width: 50%;
  margin-right: 50px;
  padding: 10px;
  font-size: 0.857142em;
  color: #fff;
}
.chat-line--me .chat-box:after {
  content: "";
  position: absolute;
  top: 8px;
  left: -20px;
  border-top: solid 10px transparent;
  border-right: solid 10px #64b6b1;
  border-bottom: solid 10px transparent;
  border-left: solid 10px transparent;
}
.chat-line--me .chat-box:after {
  left: auto;
  right: -20px;
  border-top: solid 10px transparent;
  border-right: solid 10px transparent;
  border-bottom: solid 10px transparent;
  border-left: solid 10px #64b6b1;
}
.chat-line--guest {
  position: relative;
  margin: 20px;
}
.chat-line--guest .avatar {
  position: absolute;
  top: 1px;
  left: 0px;
}
.chat-line--guest .chat-box {
  position: absolute;
  width: auto;
  height: auto;
  padding: 15px;
  background-color: #eee;
  position: relative;
  float: left;
  min-width: 25%;
  max-width: 50%;
  margin-left: 50px;
  padding: 10px;
  font-size: 0.857142em;
}
.chat-line--guest .chat-box:after {
  content: "";
  position: absolute;
  top: 8px;
  left: -20px;
  border-top: solid 10px transparent;
  border-right: solid 10px #eee;
  border-bottom: solid 10px transparent;
  border-left: solid 10px transparent;
}
/*------------------------------------*     $401
\*------------------------------------*/
.gandalf {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -75px;
  margin-left: -75px;
  width: 150px;
  color: #333;
}
.gandalf .gandalf__avatar {
  margin: 0 auto;
  background-image: url("/images/gandalf_avt.jpg");
}
.gandalf .gandalf__quote {
  margin: 12px 0 2px;
  text-align: center;
}
.gandalf .gandalf__author {
  text-align: right;
  font-size: 0.857142em;
}
/*------------------------------------*     $COMPONENTS
\*------------------------------------*/
.button,
.button.large,
.button.small {
  display: block;
  position: relative;
  color: #fff;
  text-transform: uppercase;
  border: 0;
  outline: none;
}
.button:hover,
.button.large:hover,
.button.small:hover {
  text-decoration: none;
}
.button:active,
.button.large:active,
.button.small:active {
  box-shadow: inset 0 3px 5px rgba(0,0,0,0.5);
}
.button.large {
  padding: 15px 0;
}
.button.large:active {
  padding: 18px 0 12px;
}
.button.small {
  padding: 8px 0;
}
.button.small:active {
  padding: 11px 0 5px;
}
.clear {
  clear: both;
}
.bot-line {
  border-bottom: solid thin #eee;
}
.avatar {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.avatar.small {
  width: 35px;
  height: 35px;
}
/*------------------------------------*     $ANIMATIONS
\*------------------------------------*/
.fade-in {
  -webkit-animation: fade-in 500ms;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-out;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.jelly-show {
  -webkit-animation: jelly-show 500ms;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-out;
}
.jelly-hide {
  -webkit-animation: jelly-hide 250ms;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-out;
}
@-webkit-keyframes jelly-show {
  0% {
    -webkit-transform: scale(0);
  }

  50% {
    -webkit-transform: scale(1);
  }

  75% {
    -webkit-transform: scale(0.95);
  }

  100% {
    -webkit-transform: scale(1);
  }
}
@-webkit-keyframes jelly-hide {
  0% {
    -webkit-transform: scale(1);
  }

  100% {
    -webkit-transform: scale(0);
  }
}
.zoom-in {
  -webkit-animation: zoom-in 200ms;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-out;
}
@-webkit-keyframes zoom-in {
  0% {
    -webkit-transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
  }
}
.ding-dong {
  color: #c50f13;
  -webkit-animation: ding-dong 500ms;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
  -webkit-transform-origin: 50% 0%;
}
@-webkit-keyframes ding-dong {
  0% {
    -webkit-transform: rotate(30deg);
  }

  50% {
    -webkit-transform: rotate(-30deg);
  }

  75% {
    -webkit-transform: rotate(30deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
  }
}
/*------------------------------------*     $FITGRID_STYLES
\*------------------------------------*/
.fitgrid-slot {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  transition: all 200ms ease;
}
.fitgrid-slot.slot--13 {
  right: 50%;
}
.fitgrid-slot.slot--24 {
  left: 50%;
}
.fitgrid-slot.slot--11 {
  right: 50%;
  bottom: 50%;
}
.fitgrid-slot.slot--22 {
  left: 50%;
  bottom: 50%;
}
.fitgrid-slot.slot--33 {
  right: 50%;
  top: 50%;
}
.fitgrid-slot.slot--44 {
  left: 50%;
  top: 50%;
}
