/*------------------------------------*     $CONTENTS
\*------------------------------------*/
/**
 * CONTENTS............You’re reading it!
 * DEFAULTS............Set defaults
 * HOME................Styles for login/signup forms
 * HEADER_BAR..........
 * PROFILE.............
 * CHAT................
 * SETTING.............
 * 401.................Unauthorized page
 * 404.................File not found page
 * COMPONENTS..........
 */
/*------------------------------------*     $DEFAULTS
\*------------------------------------*/
html,
body {
  height: 100%;
  -webkit-user-select: none;
/* Chrome/Safari */
  -moz-user-select: none;
/* Firefox */
  -ms-user-select: none;
/* IE10+ */
  -o-user-select: none;
  user-select: none;
}
body {
  font: 300 14px 'Open Sans', sans-serif;
  background-color: #eee;
}
input,
textarea {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.857142em;
  border: 0;
  outline: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
::-webkit-input-placeholder /* WebKit browsers */ {
  color: #ccc;
}
:-moz-placeholder /* Mozilla Firefox 4 to 18 */ {
  color: #ccc;
}
::-moz-placeholder /* Mozilla Firefox 19+ */ {
  color: #ccc;
}
:-ms-input-placeholder /* Internet Explorer 10+ */ {
  color: #ccc;
}
a {
  color: #dd4814;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}
#wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 960px;
  min-height: 500px;
}
/*------------------------------------*     $HOME
\*------------------------------------*/
.section-wrapper--home {
  position: relative;
  width: 100%;
  height: 100%;
  color: #333;
  background-size: cover;
}
.section-wrapper--home .logo {
  position: absolute;
  top: 50%;
  margin-top: -300px;
  left: 50%;
  margin-left: -40px;
  width: 80px;
  height: 80px;
  z-index: 1;
}
.section-wrapper--home .explore {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 80px;
  line-height: 80px;
  text-align: center;
  background-color: #ffbe40;
  color: #333;
  font-size: 1.5em;
}
.section-wrapper--home .explore b {
  font-weight: 700;
}
.form-wrapper {
  position: absolute;
  top: 50%;
  margin-top: -175px;
  left: 50%;
  margin-left: -145px;
  width: 290px;
  text-align: center;
  background-color: #fff;
}
.form-wrapper .form {
  padding: 10px 20px 20px;
}
.form-wrapper .form .form__control {
  position: relative;
  padding-top: 10px;
}
.form-wrapper .form .form__control input[type="text"],
.form-wrapper .form .form__control input[type="password"] {
  width: 100%;
  padding: 15px 10px;
  color: #333;
  background-color: #fff;
  border: solid thin #ccc;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.15);
/* Chrome/Safari */
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.15);
/* Firefox */
  -ms-box-shadow: inset 0 1px 2px rgba(0,0,0,0.15);
/* IE10+ */
  -o-box-shadow: inset 0 1px 2px rgba(0,0,0,0.15);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.15);
}
.form-wrapper #login-form,
.form-wrapper #signup-form {
  display: none;
}
.form-wrapper .button {
  width: 100%;
}
.form-wrapper #submit-button {
  background-color: #dd4814;
  border-bottom-color: #b13a10;
}
.form-wrapper a.login-fb-button {
  height: 17px;
  line-height: 47px;
  font-size: 0.857142em;
  background-color: #4c66a4;
  border-bottom-color: #3d5283;
}
.form-wrapper a.login-fb-button .fb-icon {
  position: absolute;
  top: 0;
  bottom: -4px;
  left: 0;
  width: 47px;
  font-size: 1.5em;
  background-color: rgba(0,0,0,0.15);
}
.form-wrapper a.login-fb-button .fb-text {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 47px;
}
.form-wrapper a.login-fb-button:active>.fb-icon {
  bottom: 0;
}
.form-wrapper .error-dialog-box {
  position: absolute;
  top: 11px;
  right: -235px;
  color: #c50f13;
  font-size: 0.857142em;
  position: absolute;
  width: 170px;
  height: auto;
  padding: 15px;
  background-color: #fff;
  -webkit-border-radius: 4px;
/* Chrome/Safari */
  -moz-border-radius: 4px;
/* Firefox */
  -ms-border-radius: 4px;
/* IE10+ */
  -o-border-radius: 4px;
  border-radius: 4px;
}
.form-wrapper .error-dialog-box:after {
  content: "";
  position: absolute;
  top: 13px;
  left: -20px;
  border-top: solid 10px transparent;
  border-right: solid 10px #fff;
  border-bottom: solid 10px transparent;
  border-left: solid 10px transparent;
}
.section-wrapper--intro {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #333;
}
/*------------------------------------*     $HEADER_BAR
\*------------------------------------*/
.top-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 45px;
  background-color: #dd4814;
  border-bottom: solid thin #fff;
}
.top-header .logo-small {
  float: left;
  margin: 5px 0 5px 20px;
}
.top-header .logo-small img {
  display: block;
  width: 35px;
  height: 35px;
}
.top-header ul.user-wrapper {
  float: right;
  height: 100%;
  margin: 0 10px 0 0;
  padding: 0;
  list-style: none;
}
.top-header ul.user-wrapper li {
  float: left;
  height: 100%;
  line-height: 45px;
  padding: 0 10px;
  color: #fff;
}
.top-header ul.user-wrapper li .avatar {
  float: left;
  margin: 5px 10px 5px 0;
}
.top-header ul.user-wrapper li i {
  padding-right: 5px;
}
.top-header ul.user-wrapper li a {
  color: #fff;
}
.top-header ul.user-wrapper li.selected {
  background-color: #c74112;
}
.top-header ul.user-wrapper .seperate-line {
  padding: 0;
  border-right: solid thin rgba(255,255,255,0.2);
  border-left: solid thin rgba(0,0,0,0.1);
}
/*------------------------------------*     $PROFILE
\*------------------------------------*/
.profile__image {
  width: 100px;
  height: 100px;
}
/*------------------------------------*     $CHAT
\*------------------------------------*/
.user-content {
  position: absolute;
  top: 55px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  color: #333;
}
.groups-list {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  width: 217px;
  background-color: #fff;
  overflow-y: auto;
}
.groups-list .form,
#add-member-popup #popup__search .form {
  padding: 10px;
  border-bottom: solid thin #eee;
}
.groups-list .form .form__control,
#add-member-popup #popup__search .form .form__control {
  position: relative;
}
.groups-list .form .form__control input[type="text"],
#add-member-popup #popup__search .form .form__control input[type="text"] {
  width: 100%;
  padding: 8px;
  color: #333;
  background-color: #fff;
  border: solid thin #ccc;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.15);
/* Chrome/Safari */
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.15);
/* Firefox */
  -ms-box-shadow: inset 0 1px 2px rgba(0,0,0,0.15);
/* IE10+ */
  -o-box-shadow: inset 0 1px 2px rgba(0,0,0,0.15);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.15);
}
.groups-list .form .form__control .submit-button,
#add-member-popup #popup__search .form .form__control .submit-button {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  height: 35px;
  padding: 0;
  color: #dd4814;
  background-color: transparent;
  border: 0;
  outline: none;
}
.group {
  margin: 0 10px;
  padding: 10px 0;
  border-bottom: dotted thin #ccc;
}
.group:last-child {
  border-bottom: none;
}
.group .group__name {
  margin-bottom: 5px;
  font-weight: 600;
  color: #dd4814;
  cursor: pointer;
}
.group .group__list .member {
  float: left;
  height: 24px;
  line-height: 24px;
  margin: 2px 2px 0 0;
  padding: 0 6px;
  text-align: center;
  font-size: 0.714285em;
  font-weight: 700;
  color: rgba(255,255,255,0.5);
}
.group .group__list .member.a,
.group .group__list .member.m,
.group .group__list .member.y {
  background-color: #ec4b43;
}
.group .group__list .member.b,
.group .group__list .member.n,
.group .group__list .member.z {
  background-color: #8bb5a9;
}
.group .group__list .member.c,
.group .group__list .member.o {
  background-color: #bbad55;
}
.group .group__list .member.d,
.group .group__list .member.p {
  background-color: #e0b0ac;
}
.group .group__list .member.e,
.group .group__list .member.q {
  background-color: #e1ac2c;
}
.group .group__list .member.f,
.group .group__list .member.r {
  background-color: #21544f;
}
.group .group__list .member.g,
.group .group__list .member.s {
  background-color: #d1bfa9;
}
.group .group__list .member.h,
.group .group__list .member.t {
  background-color: #60754e;
}
.group .group__list .member.i,
.group .group__list .member.u {
  background-color: #6c3f46;
}
.group .group__list .member.j,
.group .group__list .member.v {
  background-color: #55897d;
}
.group .group__list .member.k,
.group .group__list .member.w {
  background-color: #c13929;
}
.group .group__list .member.l,
.group .group__list .member.x {
  background-color: #811b28;
}
.group .group__list .member-avatar {
  display: block;
  float: left;
  width: 24px;
  height: 24px;
  line-height: 22px;
  margin: 2px 2px 0 0;
  text-align: center;
  background-color: #ccc;
}
.group .group__list .member-avatar .fa {
  font-size: 0.714285em;
  color: #fff;
}
.group .group__list .add-member-button {
  cursor: pointer;
}
#chat-windows-container {
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 242px;
}
#chat-windows-container .guide-dialog-box {
  top: 9px;
}
.chat-window {
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  background-color: #fff;
}
.chat-window .chat-window__helper {
  height: 35px;
  line-height: 35px;
  border-bottom: solid thin #eee;
}
.chat-window .chat-window__helper>* {
  padding: 0 8px;
}
.chat-window .chat-window__helper .helper--title {
  float: left;
  font-weight: 600;
}
.chat-window .chat-window__helper .helper--share {
  float: right;
  font-size: 1.142857em;
  color: #ccc;
}
.chat-window .chat-window__helper .helper--share:hover {
  color: #dd4814;
  cursor: pointer;
}
.chat-window .chat-window__helper .helper--buzz {
  float: right;
  font-size: 1.142857em;
  color: #ccc;
}
.chat-window .chat-window__helper .helper--close-button {
  float: right;
  font-size: 1.142857em;
  color: #c50f13;
  cursor: pointer;
}
.chat-window .chat-window__room {
  position: absolute;
  top: 36px;
  right: 0;
  bottom: 46px;
  left: 0;
  overflow: auto;
}
.chat-window .chat-window__room .notice {
  margin: 15px;
  font-size: 0.857142em;
  text-align: center;
  color: #808080;
}
.chat-window .chat-window__type {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 45px;
  border-top: solid thin #eee;
}
.chat-window .chat-window__type .form__control:nth-of-type(1) {
  float: right;
  width: 45px;
}
.chat-window .chat-window__type .chat-submit-button {
  width: 45px;
  height: 45px;
  padding: 0;
  font-size: 1.142857em;
  color: #ccc;
  background-color: transparent;
  border: 0;
  outline: none;
}
.chat-window .chat-window__type .form__control:nth-of-type(2) {
  margin-right: 45px;
}
.chat-window .chat-window__type .chat-input {
  width: 100%;
  height: 45px;
  padding: 14px 8px;
  background-color: transparent;
  resize: none;
}
.chat-line--me {
  position: relative;
  margin: 15px 20px;
}
.chat-line--me .avatar {
  position: absolute;
  top: 1px;
  right: 0px;
}
.chat-line--me .chat-box {
  position: absolute;
  width: auto;
  height: auto;
  padding: 15px;
  background-color: #eee;
  -webkit-border-radius: 4px;
/* Chrome/Safari */
  -moz-border-radius: 4px;
/* Firefox */
  -ms-border-radius: 4px;
/* IE10+ */
  -o-border-radius: 4px;
  border-radius: 4px;
  position: relative;
  float: right;
  min-width: 25%;
  max-width: 50%;
  margin-right: 50px;
  padding: 10px;
  font-size: 0.857142em;
}
.chat-line--me .chat-box:after {
  content: "";
  position: absolute;
  top: 8px;
  right: -20px;
  border-top: solid 10px transparent;
  border-right: solid 10px transparent;
  border-bottom: solid 10px transparent;
  border-left: solid 10px #eee;
}
.chat-line--guest {
  position: relative;
  margin: 15px 20px;
}
.chat-line--guest .avatar {
  position: absolute;
  top: 1px;
  left: 0px;
}
.chat-line--guest .chat-box {
  position: absolute;
  width: auto;
  height: auto;
  padding: 15px;
  background-color: #eee;
  -webkit-border-radius: 4px;
/* Chrome/Safari */
  -moz-border-radius: 4px;
/* Firefox */
  -ms-border-radius: 4px;
/* IE10+ */
  -o-border-radius: 4px;
  border-radius: 4px;
  position: relative;
  float: left;
  min-width: 25%;
  max-width: 50%;
  margin-left: 50px;
  padding: 10px;
  font-size: 0.857142em;
}
.chat-line--guest .chat-box:after {
  content: "";
  position: absolute;
  top: 8px;
  left: -20px;
  border-top: solid 10px transparent;
  border-right: solid 10px #eee;
  border-bottom: solid 10px transparent;
  border-left: solid 10px transparent;
}
.guide-dialog-box {
  color: #c50f13;
  font-size: 0.857142em;
  position: absolute;
  width: auto;
  height: auto;
  padding: 15px;
  background-color: #fff;
  -webkit-border-radius: 4px;
/* Chrome/Safari */
  -moz-border-radius: 4px;
/* Firefox */
  -ms-border-radius: 4px;
/* IE10+ */
  -o-border-radius: 4px;
  border-radius: 4px;
}
.guide-dialog-box:after {
  content: "";
  position: absolute;
  top: 13px;
  left: -20px;
  border-top: solid 10px transparent;
  border-right: solid 10px #fff;
  border-bottom: solid 10px transparent;
  border-left: solid 10px transparent;
}
#share-popup {
  display: inline-block;
  position: relative;
  width: 900px;
  height: 600px;
  background-color: #fff;
}
#share-popup #share-popup__canvas {
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: 50px;
  left: 10px;
  background-color: #808080;
}
#share-popup #share-form {
  position: absolute;
  bottom: 0;
}
#add-member-popup {
  display: inline-block;
  position: relative;
  width: 400px;
  height: 600px;
  background-color: #fff;
}
#add-member-popup #popup__search .form .form__control>.submit-button {
  color: #ccc;
}
#add-member-popup #popup__results {
  position: absolute;
  top: 56px;
  right: 0;
  bottom: 60px;
  left: 0;
  overflow-y: auto;
}
#add-member-popup #popup__results .single-result {
  margin: 0 10px;
  padding: 10px 0;
  text-align: left;
  border-bottom: dotted thin #ccc;
}
#add-member-popup #popup__results .single-result:last-child {
  border-bottom: none;
}
#add-member-popup #popup__results .single-result .fa {
  margin-right: 10px;
}
#add-member-popup #popup__results .single-result .fa-check-square {
  color: #5da423;
}
#add-member-popup #popup__results .single-result .fa-plus-square {
  color: #808080;
}
#add-member-popup #popup__results .single-result.not-a-member {
  cursor: pointer;
}
#add-member-popup #popup__results .single-result.chosen .fa-plus-square {
  color: #dd4814;
}
#add-member-popup #popup__buttons {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  border-top: solid thin #eee;
}
#add-member-popup #popup__buttons .cancel-button {
  float: left;
  width: 185px;
  margin-right: 10px;
  background-color: #808080;
  border-bottom-color: #666;
}
#add-member-popup #popup__buttons .confirm-button {
  float: left;
  width: 185px;
  background-color: #dd4814;
  border-bottom-color: #b13a10;
}
/*------------------------------------*     $401
\*------------------------------------*/
.gandalf {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -75px;
  margin-left: -75px;
  width: 150px;
  color: #333;
}
.gandalf .gandalf__avatar {
  margin: 0 auto;
  background-image: url("/images/gandalf_avt.jpg");
}
.gandalf .gandalf__quote {
  margin: 12px 0 2px;
  text-align: center;
}
.gandalf .gandalf__author {
  text-align: right;
  font-size: 0.857142em;
}
/*------------------------------------*     $COMPONENTS
\*------------------------------------*/
.button,
.button.large,
.button.small {
  display: block;
  position: relative;
  color: #fff;
  text-transform: uppercase;
  border: 0;
  outline: none;
  border-bottom-style: solid;
  border-bottom-width: 4px;
}
.button:hover,
.button.large:hover,
.button.small:hover {
  text-decoration: none;
}
.button:active,
.button.large:active,
.button.small:active {
  margin-top: 4px;
  border-bottom: none;
}
.button.large {
  padding: 15px 0;
}
.button.small {
  padding: 8px 0;
}
.clear {
  clear: both;
}
.avatar {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-border-radius: 50%;
/* Chrome/Safari */
  -moz-border-radius: 50%;
/* Firefox */
  -ms-border-radius: 50%;
/* IE10+ */
  -o-border-radius: 50%;
  border-radius: 50%;
}
.avatar.small {
  width: 35px;
  height: 35px;
}
.overlay {
  display: table;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 10;
}
.overlay .center {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.drop-shadow {
  -webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.15);
/* Chrome/Safari */
  -moz-box-shadow: 0 2px 2px rgba(0,0,0,0.15);
/* Firefox */
  -ms-box-shadow: 0 2px 2px rgba(0,0,0,0.15);
/* IE10+ */
  -o-box-shadow: 0 2px 2px rgba(0,0,0,0.15);
  box-shadow: 0 2px 2px rgba(0,0,0,0.15);
}
.round-corner {
  -webkit-border-radius: 4px;
/* Chrome/Safari */
  -moz-border-radius: 4px;
/* Firefox */
  -ms-border-radius: 4px;
/* IE10+ */
  -o-border-radius: 4px;
  border-radius: 4px;
}
.ios7-effect {
  opacity: 0.7;
  -webkit-filter: grayscale(100%) blur(5px);
}
/*------------------------------------*     $ANIMATIONS
\*------------------------------------*/
.fade-in {
  -webkit-animation: fade-in 500ms 1 forwards ease-out;
/* Chrome/Safari */
  -moz-animation: fade-in 500ms 1 forwards ease-out;
/* Firefox */
  -ms-animation: fade-in 500ms 1 forwards ease-out;
/* IE10+ */
  -o-animation: fade-in 500ms 1 forwards ease-out;
  animation: fade-in 500ms 1 forwards ease-out;
}
.jelly-show {
  -webkit-animation: jelly-show 500ms 1 forwards ease-out;
/* Chrome/Safari */
  -moz-animation: jelly-show 500ms 1 forwards ease-out;
/* Firefox */
  -ms-animation: jelly-show 500ms 1 forwards ease-out;
/* IE10+ */
  -o-animation: jelly-show 500ms 1 forwards ease-out;
  animation: jelly-show 500ms 1 forwards ease-out;
}
.jelly-hide {
  -webkit-animation: jelly-hide 250ms 1 forwards ease-out;
/* Chrome/Safari */
  -moz-animation: jelly-hide 250ms 1 forwards ease-out;
/* Firefox */
  -ms-animation: jelly-hide 250ms 1 forwards ease-out;
/* IE10+ */
  -o-animation: jelly-hide 250ms 1 forwards ease-out;
  animation: jelly-hide 250ms 1 forwards ease-out;
}
.zoom-in {
  -webkit-animation: zoom-in 200ms 1 forwards ease-out;
/* Chrome/Safari */
  -moz-animation: zoom-in 200ms 1 forwards ease-out;
/* Firefox */
  -ms-animation: zoom-in 200ms 1 forwards ease-out;
/* IE10+ */
  -o-animation: zoom-in 200ms 1 forwards ease-out;
  animation: zoom-in 200ms 1 forwards ease-out;
}
.ding-dong {
  color: #c50f13;
  -webkit-animation: ding-dong 500ms 1 forwards ease;
/* Chrome/Safari */
  -moz-animation: ding-dong 500ms 1 forwards ease;
/* Firefox */
  -ms-animation: ding-dong 500ms 1 forwards ease;
/* IE10+ */
  -o-animation: ding-dong 500ms 1 forwards ease;
  animation: ding-dong 500ms 1 forwards ease;
  -webkit-transform-origin: 50% 0%;
/* Chrome/Safari */
  -moz-transform-origin: 50% 0%;
/* Firefox */
  -ms-transform-origin: 50% 0%;
/* IE10+ */
  -o-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
}
/*------------------------------------*     $FITGRID_STYLES
\*------------------------------------*/
.fitgrid-slot {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -webkit-transition: all 200ms ease;
/* Chrome/Safari */
  -moz-transition: all 200ms ease;
/* Firefox */
  -ms-transition: all 200ms ease;
/* IE10+ */
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.fitgrid-slot.slot--13 {
  right: 50%;
}
.fitgrid-slot.slot--24 {
  left: 50%;
}
.fitgrid-slot.slot--11 {
  right: 50%;
  bottom: 50%;
}
.fitgrid-slot.slot--22 {
  left: 50%;
  bottom: 50%;
}
.fitgrid-slot.slot--33 {
  right: 50%;
  top: 50%;
}
.fitgrid-slot.slot--44 {
  left: 50%;
  top: 50%;
}
@-moz-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-o-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-ms-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-moz-keyframes jelly-show {
  0% {
    -webkit-transform: scale(0);
/* Chrome/Safari */
    -moz-transform: scale(0);
/* Firefox */
    -ms-transform: scale(0);
/* IE10+ */
    -o-transform: scale(0);
    transform: scale(0);
  }

  50% {
    -webkit-transform: scale(1);
/* Chrome/Safari */
    -moz-transform: scale(1);
/* Firefox */
    -ms-transform: scale(1);
/* IE10+ */
    -o-transform: scale(1);
    transform: scale(1);
  }

  75% {
    -webkit-transform: scale(0.95);
/* Chrome/Safari */
    -moz-transform: scale(0.95);
/* Firefox */
    -ms-transform: scale(0.95);
/* IE10+ */
    -o-transform: scale(0.95);
    transform: scale(0.95);
  }

  100% {
    -webkit-transform: scale(1);
/* Chrome/Safari */
    -moz-transform: scale(1);
/* Firefox */
    -ms-transform: scale(1);
/* IE10+ */
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes jelly-show {
  0% {
    -webkit-transform: scale(0);
/* Chrome/Safari */
    -moz-transform: scale(0);
/* Firefox */
    -ms-transform: scale(0);
/* IE10+ */
    -o-transform: scale(0);
    transform: scale(0);
  }

  50% {
    -webkit-transform: scale(1);
/* Chrome/Safari */
    -moz-transform: scale(1);
/* Firefox */
    -ms-transform: scale(1);
/* IE10+ */
    -o-transform: scale(1);
    transform: scale(1);
  }

  75% {
    -webkit-transform: scale(0.95);
/* Chrome/Safari */
    -moz-transform: scale(0.95);
/* Firefox */
    -ms-transform: scale(0.95);
/* IE10+ */
    -o-transform: scale(0.95);
    transform: scale(0.95);
  }

  100% {
    -webkit-transform: scale(1);
/* Chrome/Safari */
    -moz-transform: scale(1);
/* Firefox */
    -ms-transform: scale(1);
/* IE10+ */
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes jelly-show {
  0% {
    -webkit-transform: scale(0);
/* Chrome/Safari */
    -moz-transform: scale(0);
/* Firefox */
    -ms-transform: scale(0);
/* IE10+ */
    -o-transform: scale(0);
    transform: scale(0);
  }

  50% {
    -webkit-transform: scale(1);
/* Chrome/Safari */
    -moz-transform: scale(1);
/* Firefox */
    -ms-transform: scale(1);
/* IE10+ */
    -o-transform: scale(1);
    transform: scale(1);
  }

  75% {
    -webkit-transform: scale(0.95);
/* Chrome/Safari */
    -moz-transform: scale(0.95);
/* Firefox */
    -ms-transform: scale(0.95);
/* IE10+ */
    -o-transform: scale(0.95);
    transform: scale(0.95);
  }

  100% {
    -webkit-transform: scale(1);
/* Chrome/Safari */
    -moz-transform: scale(1);
/* Firefox */
    -ms-transform: scale(1);
/* IE10+ */
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-ms-keyframes jelly-show {
  0% {
    -webkit-transform: scale(0);
/* Chrome/Safari */
    -moz-transform: scale(0);
/* Firefox */
    -ms-transform: scale(0);
/* IE10+ */
    -o-transform: scale(0);
    transform: scale(0);
  }

  50% {
    -webkit-transform: scale(1);
/* Chrome/Safari */
    -moz-transform: scale(1);
/* Firefox */
    -ms-transform: scale(1);
/* IE10+ */
    -o-transform: scale(1);
    transform: scale(1);
  }

  75% {
    -webkit-transform: scale(0.95);
/* Chrome/Safari */
    -moz-transform: scale(0.95);
/* Firefox */
    -ms-transform: scale(0.95);
/* IE10+ */
    -o-transform: scale(0.95);
    transform: scale(0.95);
  }

  100% {
    -webkit-transform: scale(1);
/* Chrome/Safari */
    -moz-transform: scale(1);
/* Firefox */
    -ms-transform: scale(1);
/* IE10+ */
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes jelly-show {
  0% {
    -webkit-transform: scale(0);
/* Chrome/Safari */
    -moz-transform: scale(0);
/* Firefox */
    -ms-transform: scale(0);
/* IE10+ */
    -o-transform: scale(0);
    transform: scale(0);
  }

  50% {
    -webkit-transform: scale(1);
/* Chrome/Safari */
    -moz-transform: scale(1);
/* Firefox */
    -ms-transform: scale(1);
/* IE10+ */
    -o-transform: scale(1);
    transform: scale(1);
  }

  75% {
    -webkit-transform: scale(0.95);
/* Chrome/Safari */
    -moz-transform: scale(0.95);
/* Firefox */
    -ms-transform: scale(0.95);
/* IE10+ */
    -o-transform: scale(0.95);
    transform: scale(0.95);
  }

  100% {
    -webkit-transform: scale(1);
/* Chrome/Safari */
    -moz-transform: scale(1);
/* Firefox */
    -ms-transform: scale(1);
/* IE10+ */
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes jelly-hide {
  0% {
    -webkit-transform: scale(1);
/* Chrome/Safari */
    -moz-transform: scale(1);
/* Firefox */
    -ms-transform: scale(1);
/* IE10+ */
    -o-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(0);
/* Chrome/Safari */
    -moz-transform: scale(0);
/* Firefox */
    -ms-transform: scale(0);
/* IE10+ */
    -o-transform: scale(0);
    transform: scale(0);
  }
}
@-webkit-keyframes jelly-hide {
  0% {
    -webkit-transform: scale(1);
/* Chrome/Safari */
    -moz-transform: scale(1);
/* Firefox */
    -ms-transform: scale(1);
/* IE10+ */
    -o-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(0);
/* Chrome/Safari */
    -moz-transform: scale(0);
/* Firefox */
    -ms-transform: scale(0);
/* IE10+ */
    -o-transform: scale(0);
    transform: scale(0);
  }
}
@-o-keyframes jelly-hide {
  0% {
    -webkit-transform: scale(1);
/* Chrome/Safari */
    -moz-transform: scale(1);
/* Firefox */
    -ms-transform: scale(1);
/* IE10+ */
    -o-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(0);
/* Chrome/Safari */
    -moz-transform: scale(0);
/* Firefox */
    -ms-transform: scale(0);
/* IE10+ */
    -o-transform: scale(0);
    transform: scale(0);
  }
}
@-ms-keyframes jelly-hide {
  0% {
    -webkit-transform: scale(1);
/* Chrome/Safari */
    -moz-transform: scale(1);
/* Firefox */
    -ms-transform: scale(1);
/* IE10+ */
    -o-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(0);
/* Chrome/Safari */
    -moz-transform: scale(0);
/* Firefox */
    -ms-transform: scale(0);
/* IE10+ */
    -o-transform: scale(0);
    transform: scale(0);
  }
}
@keyframes jelly-hide {
  0% {
    -webkit-transform: scale(1);
/* Chrome/Safari */
    -moz-transform: scale(1);
/* Firefox */
    -ms-transform: scale(1);
/* IE10+ */
    -o-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(0);
/* Chrome/Safari */
    -moz-transform: scale(0);
/* Firefox */
    -ms-transform: scale(0);
/* IE10+ */
    -o-transform: scale(0);
    transform: scale(0);
  }
}
@-moz-keyframes zoom-in {
  0% {
    -webkit-transform: scale(0);
/* Chrome/Safari */
    -moz-transform: scale(0);
/* Firefox */
    -ms-transform: scale(0);
/* IE10+ */
    -o-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
/* Chrome/Safari */
    -moz-transform: scale(1);
/* Firefox */
    -ms-transform: scale(1);
/* IE10+ */
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes zoom-in {
  0% {
    -webkit-transform: scale(0);
/* Chrome/Safari */
    -moz-transform: scale(0);
/* Firefox */
    -ms-transform: scale(0);
/* IE10+ */
    -o-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
/* Chrome/Safari */
    -moz-transform: scale(1);
/* Firefox */
    -ms-transform: scale(1);
/* IE10+ */
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes zoom-in {
  0% {
    -webkit-transform: scale(0);
/* Chrome/Safari */
    -moz-transform: scale(0);
/* Firefox */
    -ms-transform: scale(0);
/* IE10+ */
    -o-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
/* Chrome/Safari */
    -moz-transform: scale(1);
/* Firefox */
    -ms-transform: scale(1);
/* IE10+ */
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-ms-keyframes zoom-in {
  0% {
    -webkit-transform: scale(0);
/* Chrome/Safari */
    -moz-transform: scale(0);
/* Firefox */
    -ms-transform: scale(0);
/* IE10+ */
    -o-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
/* Chrome/Safari */
    -moz-transform: scale(1);
/* Firefox */
    -ms-transform: scale(1);
/* IE10+ */
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes zoom-in {
  0% {
    -webkit-transform: scale(0);
/* Chrome/Safari */
    -moz-transform: scale(0);
/* Firefox */
    -ms-transform: scale(0);
/* IE10+ */
    -o-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
/* Chrome/Safari */
    -moz-transform: scale(1);
/* Firefox */
    -ms-transform: scale(1);
/* IE10+ */
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes ding-dong {
  0% {
    -webkit-transform: rotate(30deg);
/* Chrome/Safari */
    -moz-transform: rotate(30deg);
/* Firefox */
    -ms-transform: rotate(30deg);
/* IE10+ */
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
  }

  50% {
    -webkit-transform: rotate(-30deg);
/* Chrome/Safari */
    -moz-transform: rotate(-30deg);
/* Firefox */
    -ms-transform: rotate(-30deg);
/* IE10+ */
    -o-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }

  75% {
    -webkit-transform: rotate(30deg);
/* Chrome/Safari */
    -moz-transform: rotate(30deg);
/* Firefox */
    -ms-transform: rotate(30deg);
/* IE10+ */
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
/* Chrome/Safari */
    -moz-transform: rotate(0deg);
/* Firefox */
    -ms-transform: rotate(0deg);
/* IE10+ */
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-webkit-keyframes ding-dong {
  0% {
    -webkit-transform: rotate(30deg);
/* Chrome/Safari */
    -moz-transform: rotate(30deg);
/* Firefox */
    -ms-transform: rotate(30deg);
/* IE10+ */
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
  }

  50% {
    -webkit-transform: rotate(-30deg);
/* Chrome/Safari */
    -moz-transform: rotate(-30deg);
/* Firefox */
    -ms-transform: rotate(-30deg);
/* IE10+ */
    -o-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }

  75% {
    -webkit-transform: rotate(30deg);
/* Chrome/Safari */
    -moz-transform: rotate(30deg);
/* Firefox */
    -ms-transform: rotate(30deg);
/* IE10+ */
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
/* Chrome/Safari */
    -moz-transform: rotate(0deg);
/* Firefox */
    -ms-transform: rotate(0deg);
/* IE10+ */
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-o-keyframes ding-dong {
  0% {
    -webkit-transform: rotate(30deg);
/* Chrome/Safari */
    -moz-transform: rotate(30deg);
/* Firefox */
    -ms-transform: rotate(30deg);
/* IE10+ */
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
  }

  50% {
    -webkit-transform: rotate(-30deg);
/* Chrome/Safari */
    -moz-transform: rotate(-30deg);
/* Firefox */
    -ms-transform: rotate(-30deg);
/* IE10+ */
    -o-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }

  75% {
    -webkit-transform: rotate(30deg);
/* Chrome/Safari */
    -moz-transform: rotate(30deg);
/* Firefox */
    -ms-transform: rotate(30deg);
/* IE10+ */
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
/* Chrome/Safari */
    -moz-transform: rotate(0deg);
/* Firefox */
    -ms-transform: rotate(0deg);
/* IE10+ */
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-ms-keyframes ding-dong {
  0% {
    -webkit-transform: rotate(30deg);
/* Chrome/Safari */
    -moz-transform: rotate(30deg);
/* Firefox */
    -ms-transform: rotate(30deg);
/* IE10+ */
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
  }

  50% {
    -webkit-transform: rotate(-30deg);
/* Chrome/Safari */
    -moz-transform: rotate(-30deg);
/* Firefox */
    -ms-transform: rotate(-30deg);
/* IE10+ */
    -o-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }

  75% {
    -webkit-transform: rotate(30deg);
/* Chrome/Safari */
    -moz-transform: rotate(30deg);
/* Firefox */
    -ms-transform: rotate(30deg);
/* IE10+ */
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
/* Chrome/Safari */
    -moz-transform: rotate(0deg);
/* Firefox */
    -ms-transform: rotate(0deg);
/* IE10+ */
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes ding-dong {
  0% {
    -webkit-transform: rotate(30deg);
/* Chrome/Safari */
    -moz-transform: rotate(30deg);
/* Firefox */
    -ms-transform: rotate(30deg);
/* IE10+ */
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
  }

  50% {
    -webkit-transform: rotate(-30deg);
/* Chrome/Safari */
    -moz-transform: rotate(-30deg);
/* Firefox */
    -ms-transform: rotate(-30deg);
/* IE10+ */
    -o-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }

  75% {
    -webkit-transform: rotate(30deg);
/* Chrome/Safari */
    -moz-transform: rotate(30deg);
/* Firefox */
    -ms-transform: rotate(30deg);
/* IE10+ */
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
/* Chrome/Safari */
    -moz-transform: rotate(0deg);
/* Firefox */
    -ms-transform: rotate(0deg);
/* IE10+ */
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
