@import "mixins.styl"

/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/

/**
 * CONTENTS............You’re reading it!
 * DEFAULTS............Set defaults
 * HOME................Styles for login/signup forms
 * HEADER_BAR..........
 * PROFILE.............
 * CHAT................
 * SETTING.............
 * 401.................Unauthorized page
 * 404.................File not found page
 * COMPONENTS..........
 */

/*------------------------------------*\
    $DEFAULTS
\*------------------------------------*/

primary-color = #dd4814
home-bg-color = #fff
home-text-color = #333
home-field-bg-color = #fff
home-field-text-color = #333

header-bg-color = #dd4814
header-text-color = #fff
header-selected-color = darken(header-bg-color, 10%)

site-bg-color = #eee
site-text-color = #333
site-field-bg-color = #fff
site-field-text-color = #333
window-bg-color = #fff

alert-color = #c50f13
success-color = #5da423
line-color = #ccc

html, body
	height: 100%
	prevent-doubleclick()

body
	font: 300 14px 'Open Sans', sans-serif
	background-color: site-bg-color

input, textarea
	margin: 0
	padding: 0
	font-family: 'Open Sans', sans-serif
	font-size: 0.857142em
	border: 0
	outline: none
	box-sizing: border-box
	-moz-box-sizing: border-box

::-webkit-input-placeholder /* WebKit browsers */
	color: #ccc

:-moz-placeholder /* Mozilla Firefox 4 to 18 */
	color: #ccc

::-moz-placeholder /* Mozilla Firefox 19+ */
	color: #ccc

:-ms-input-placeholder /* Internet Explorer 10+ */
	color: #ccc

a
	color: primary-color
	text-decoration: none
	cursor: pointer
	&:hover 
		text-decoration: underline

#wrapper
	position: relative
	width: 100%
	height: 100%
	min-width: 960px
	min-height: 500px

/*------------------------------------*\
    $HOME
\*------------------------------------*/

.section-wrapper--home
	width: 100%;
	height: 100%;
	color: home-text-color
	background: #222 url('/images/login_bg.png') center no-repeat
	background-size: cover
	.logo
		position: absolute
		top: 50%
		margin-top: -300px
		left: 50%
		margin-left: -40px
		width: 80px
		height: 80px
		z-index: 1

.form-wrapper
	position: absolute
	top: 50%
	margin-top: -175px
	left: 50%
	margin-left: -145px
	width: 290px
	text-align: center
	background-color: home-bg-color
	.form
		padding: 10px 20px 20px
		.form__control
			position: relative
			padding-top: 10px
			input[type="text"], input[type="password"]
				width: 100%
				padding: 15px 10px
				color: home-field-text-color
				background-color: home-field-bg-color
				border: solid thin line-color
				box-shadow(inset 0 1px 2px rgba(0,0,0,.15))

	#login-form, #signup-form
		display: none

	.button
		width: 100%

	#submit-button
		background-color: primary-color
		border-bottom-color: darken(primary-color, 20%)

	a.login-fb-button
		height: 17px
		line-height: 47px
		font-size: 0.857142em
		background-color: #4c66a4
		border-bottom-color: darken(#4c66a4, 20%)
		.fb-icon
			position: absolute
			top: 0
			bottom: -4px
			left: 0
			width: 47px
			font-size: 1.5em
			background-color: rgba(0,0,0,.15)
		.fb-text
			position: absolute
			top: 0
			right: 0
			bottom: 0
			left: 47px
		&:active>.fb-icon
			bottom: 0

	.error-dialog-box
		position: absolute
		top: 11px
		right: -235px
		color: alert-color
		font-size: 0.857142em
		dialog-box(170px,auto,#fff,'left',13px)

/*------------------------------------*\
    $HEADER_BAR
\*------------------------------------*/

header-height = 45px

.top-header
	position: fixed
	top: 0
	right: 0
	left: 0
	height: header-height
	background-color: header-bg-color
	border-bottom: solid thin #fff
	.logo-small
		float: left
		margin: 5px 0 5px 20px
		img
			display: block
			width: 35px
			height: 35px
	ul.user-wrapper
		float: right
		height: 100%
		margin: 0 10px 0 0
		padding: 0
		list-style: none
		li
			float: left
			height: 100%
			line-height: header-height
			padding: 0 10px
			color: header-text-color
			.avatar
				float: left
				margin: 5px 10px 5px 0
			i
				padding-right: 5px
			a
				color: header-text-color
			&.selected
				background-color: header-selected-color
		.seperate-line
			padding: 0
			border-right: solid thin rgba(255,255,255,.2)
			border-left: solid thin rgba(0,0,0,.1)

/*------------------------------------*\
    $PROFILE
\*------------------------------------*/

.profile__image
	width: 100px
	height: 100px

/*------------------------------------*\
    $CHAT
\*------------------------------------*/

.user-content
	position: absolute
	top: header-height + 10
	right: 10px
	bottom: 10px
	left: 10px
	color: site-text-color

sidebar-width = 217px
	
.groups-list
	position: absolute
	top: 10px
	bottom: 10px
	left: 10px
	width: sidebar-width
	background-color: window-bg-color
	overflow-y: auto
	.form
		padding: 10px
		border-bottom: solid thin site-bg-color
		.form__control
			position: relative
			input[type="text"]
				width: 100%
				padding: 8px
				color: site-field-text-color
				background-color: site-field-bg-color
				border: solid thin line-color
				box-shadow(inset 0 1px 2px rgba(0,0,0,.15))
			.submit-button
				display: block
				position: absolute
				top: 0
				right: 0
				width: 35px
				height: 35px
				padding: 0
				color: primary-color
				background-color: transparent
				border: 0
				outline: none

.group
	margin: 0 10px
	padding: 10px 0
	border-bottom: dotted thin line-color
	&:last-child
		border-bottom: none
	.group__name
		margin-bottom: 5px
		font-weight: 600
		color: primary-color
		cursor: pointer
	.group__list
		.member
			float: left
			height: 24px
			line-height: 24px
			margin: 2px 2px 0 0
			padding: 0 6px
			text-align: center
			font-size: 0.714285em
			font-weight: 700
			color: rgba(255,255,255,.5)
			&.a, &.m, &.y
				background-color: #ec4b43
			&.b, &.n, &.z
				background-color: #8bb5a9
			&.c, &.o
				background-color: #bbad55
			&.d, &.p
				background-color: #e0b0ac
			&.e, &.q
				background-color: #e1ac2c
			&.f, &.r
				background-color: #21544f
			&.g, &.s
				background-color: #d1bfa9
			&.h, &.t
				background-color: #60754e
			&.i, &.u
				background-color: #6c3f46
			&.j, &.v
				background-color: #55897d
			&.k, &.w
				background-color: #c13929
			&.l, &.x
				background-color: #811b28
		.member-avatar
			display: block
			float: left
			width: 24px
			height: 24px
			line-height: 22px
			margin: 2px 2px 0 0
			text-align: center
			background-color: #ccc
			.fa
				font-size: 0.714285em
				color: white
		.add-member-button
			cursor: pointer

#chat-windows-container
	position: absolute
	top: 5px
	right: 5px
	bottom: 5px
	left: sidebar-width + 25
	.guide-dialog-box
		top: 9px

.chat-window
	position: absolute
	top: 5px
	right: 5px
	bottom: 5px
	left: 5px
	background-color: window-bg-color
	.chat-window__helper
		height: 35px
		line-height: 35px
		border-bottom: solid thin site-bg-color
		&>*
			padding: 0 8px
		.helper--title
			float: left
			font-weight: 600
		.helper--share
			float: right
			font-size: 1.142857em
			color: #ccc
			&:hover
				color: primary-color
				cursor: pointer
		.helper--buzz
			float: right
			font-size: 1.142857em
			color: #ccc
		.helper--close-button
			float: right
			font-size: 1.142857em
			color: alert-color
			cursor: pointer
	.chat-window__room
		position: absolute
		top: 36px
		right: 0
		bottom: 46px
		left: 0
		overflow: auto
		.notice
			margin: 15px
			font-size: 0.857142em
			text-align: center
			color: gray
	.chat-window__type
		position: absolute
		right: 0
		bottom: 0
		left: 0
		height: 45px
		border-top: solid thin site-bg-color
		.form__control:nth-of-type(1)
			float: right
			width: 45px
		.chat-submit-button
			width: 45px
			height: 45px
			padding: 0
			font-size: 1.142857em
			color: #ccc
			background-color: transparent
			border: 0
			outline: none
		.form__control:nth-of-type(2)
			margin-right: 45px
		.chat-input
			width: 100%
			height: 45px
			padding: 14px 8px
			background-color: transparent
			resize: none

.chat-line--me
	position: relative
	margin: 15px 20px
	.avatar
		position: absolute
		top: 1px
		right: 0px
	.chat-box
		dialog-box(auto,auto,#eee,'right',8px)
		position: relative
		float: right
		min-width: 25%
		max-width: 50%
		margin-right: 50px
		padding: 10px
		font-size: 0.857142em

.chat-line--guest
	position: relative
	margin: 15px 20px
	.avatar
		position: absolute
		top: 1px
		left: 0px
	.chat-box
		dialog-box(auto,auto,#eee,'left',8px)
		position: relative
		float: left
		min-width: 25%
		max-width: 50%
		margin-left: 50px
		padding: 10px
		font-size: 0.857142em

.guide-dialog-box
	color: alert-color
	font-size: 0.857142em
	dialog-box(auto,auto,#fff,'left',13px)

#share-popup
	display: inline-block
	position: relative
	width: 900px
	height: 600px
	// width: 80%
	// max-width: 900px
	// height: 80%
	// max-height: 600px
	background-color: window-bg-color
	#share-popup__canvas
		position: absolute
		top: 10px
		right: 10px
		bottom: 50px
		left: 10px
		background-color: gray
	#share-form
		position: absolute
		bottom: 0

#add-member-popup
	display: inline-block
	position: relative
	width: 400px
	height: 600px
	background-color: window-bg-color
	#popup__search
		.form
			@extend .groups-list .form
			.form__control>.submit-button
				color: #ccc
	#popup__results
		position: absolute
		top: 56px
		right: 0
		bottom: 60px
		left: 0
		overflow-y: auto
		.single-result
			margin: 0 10px
			padding: 10px 0
			text-align: left
			border-bottom: dotted thin line-color
			&:last-child
				border-bottom: none
			.fa
				margin-right: 10px
			.fa-check-square
				color: success-color
			.fa-plus-square
				color: gray
			&.not-a-member
				cursor: pointer
			&.chosen
				.fa-plus-square
					color: primary-color
	#popup__buttons
		position: absolute
		right: 0
		bottom: 0
		left: 0
		padding: 10px
		border-top: solid thin site-bg-color;
		.cancel-button
			float: left
			width: 185px
			margin-right: 10px
			background-color: gray
			border-bottom-color: darken(gray, 20%)
		.confirm-button
			float: left
			width: 185px
			background-color: primary-color
			border-bottom-color: darken(primary-color, 20%)

/*------------------------------------*\
    $401
\*------------------------------------*/

.gandalf
	position: absolute
	top: 50%
	left: 50%
	margin-top: -75px
	margin-left: -75px
	width: 150px
	color: site-text-color
	.gandalf__avatar
		margin: 0 auto
		background-image: url('/images/gandalf_avt.jpg')
	.gandalf__quote
		margin: 12px 0 2px
		text-align: center
	.gandalf__author
		text-align: right
		font-size: 0.857142em

/*------------------------------------*\
    $COMPONENTS
\*------------------------------------*/

.button
	display: block
	position: relative
	color: white
	text-transform: uppercase
	border: 0
	outline: none
	border-bottom-style: solid
	border-bottom-width: 4px
	&:hover
		text-decoration: none
	&:active
		margin-top: 4px
		border-bottom: none

.button.large
	@extend .button
	padding: 15px 0

.button.small
	@extend .button
	padding: 8px 0

.clear
	clear: both

.avatar
	width: 100px
	height: 100px
	background-repeat: no-repeat
	background-position: center
	background-size: cover
	border-radius: 50%
	&.small
		width: 35px
		height: 35px

.overlay
	display: table
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	background-color: rgba(black, .5)
	z-index: 10
	.center
		display: table-cell
		vertical-align: middle
		text-align: center

.drop-shadow
	box-shadow(0 2px 2px rgba(0,0,0,.15))

.round-corner
	border-radius(4px)

.ios7-effect
	opacity: 0.7;
	-webkit-filter: grayscale(100%)blur(5px);

/*------------------------------------*\
    $ANIMATIONS
\*------------------------------------*/

.fade-in
	-webkit-animation: fade-in 500ms
	-webkit-animation-iteration-count: 1
	-webkit-animation-fill-mode: forwards
	-webkit-animation-timing-function: ease-out
@-webkit-keyframes fade-in
	0%
		opacity: 0
	100%
		opacity: 1

.jelly-show
	-webkit-animation: jelly-show 500ms
	-webkit-animation-iteration-count: 1
	-webkit-animation-fill-mode: forwards
	-webkit-animation-timing-function: ease-out
.jelly-hide
	-webkit-animation: jelly-hide 250ms
	-webkit-animation-iteration-count: 1
	-webkit-animation-fill-mode: forwards
	-webkit-animation-timing-function: ease-out
@-webkit-keyframes jelly-show
	0%
		-webkit-transform: scale(0.0)
	50%
		-webkit-transform: scale(1.0)
	75%
		-webkit-transform: scale(0.95)
	100%
		-webkit-transform: scale(1.0)
@-webkit-keyframes jelly-hide
	0%
		-webkit-transform: scale(1.0)
	100%
		-webkit-transform: scale(0.0)

.zoom-in
	-webkit-animation: zoom-in 200ms
	-webkit-animation-iteration-count: 1
	-webkit-animation-fill-mode: forwards
	-webkit-animation-timing-function: ease-out
@-webkit-keyframes zoom-in
	0%
		-webkit-transform: scale(0.0)
	100%
		-webkit-transform: scale(1.0)

.ding-dong
	color: alert-color
	-webkit-animation: ding-dong 500ms
	-webkit-animation-iteration-count: 1
	-webkit-animation-fill-mode: forwards
	-webkit-animation-timing-function: ease
	-webkit-transform-origin: 50% 0%
@-webkit-keyframes ding-dong
	0%
		-webkit-transform: rotate(30deg)
	50%
		-webkit-transform: rotate(-30deg)
	75%
		-webkit-transform: rotate(30deg)
	100%
		-webkit-transform: rotate(0deg)

/*------------------------------------*\
    $FITGRID_STYLES
\*------------------------------------*/

.fitgrid-slot
	position: absolute
	top: 0
	right: 0
	bottom: 0
	left: 0
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	transition: all 200ms ease;

	&.slot--13
		right: 50%
	&.slot--24
		left: 50%

	&.slot--11
		right: 50%
		bottom: 50%
	&.slot--22
		left: 50%
		bottom: 50%
	&.slot--33
		right: 50%
		top: 50%
	&.slot--44
		left: 50%
		top: 50%