@import "mixins.styl"
@import "fitgrid.styl"

/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/

/**
 * CONTENTS............You’re reading it!
 * DEFAULTS............Set defaults
 * HOME................Home page
 * LOGIN/SIGN_UP.......Login/signup forms
 * NAVIGATION_BAR......Navigation bar
 * CHAT................Chat page
 * TASKS...............Tasks list page
 * PROFILE.............Profile page
 * SETTING.............Setting panel
 * 401.................Unauthorized page
 * 404.................File not found page
 * COMPONENTS..........Buttons, overlay, etc.
 * ANIMATIONS..........Define all animations
 */

/*------------------------------------*\
    $DEFAULTS
\*------------------------------------*/

primary-color = #efb324

home-bg-color = #4d5a60
home-text-color = #f0f0f0
home-field-bg-color = #fff
home-field-text-color = #333

navbar-bg-color = #33404b
navbar-text-color = lighten(navbar-bg-color, 20%)
navbar-selected-color = darken(navbar-bg-color, 20%)

sidebar-bg-color = #fff
sidebar-text-color = #333

site-bg-color = #f0f0f0
site-text-color = #333
site-field-bg-color = #fff
site-field-text-color = #333
window-bg-color = #fff

alert-color = #c50f13
success-color = #5da423
line-color = #e0e0e0

html, body
	height: 100%
	prevent-doubleclick()

body
	font: 300 14px 'Open Sans', sans-serif
	background-color: site-bg-color

input, textarea
	margin: 0
	padding: 0
	font-family: 'Open Sans', sans-serif
	font-size: 0.857142em
	border: 0
	outline: none
	box-sizing(border-box)

::-webkit-input-placeholder /* WebKit browsers */
	color: #ccc

:-moz-placeholder /* Mozilla Firefox 4 to 18 */
	color: #ccc

::-moz-placeholder /* Mozilla Firefox 19+ */
	color: #ccc

:-ms-input-placeholder /* Internet Explorer 10+ */
	color: #ccc

a
	color: primary-color
	text-decoration: none
	cursor: pointer

#wrapper
	position: relative
	width: 100%
	height: 100%
	min-width: 960px
	min-height: 500px

/*------------------------------------*\
    $HOME
\*------------------------------------*/

.section-wrapper
	position: relative
	width: 100%
	height: 100%

	&.welcome
		color: home-text-color
		background: home-bg-color url('/images/stuffs.png') center 80% no-repeat
		.header
			position: absolute
			top: 0
			left: 50%
			margin-left: -(960/2)px
			width: 960px
			#login-button
				float: right
				margin: 20px
				padding: 8px 10px
				font-weight: 600
				color: home-text-color
				border: solid 2px home-text-color
				border-radius(10px)
				opacity: 0.4
				cursor: pointer
				transition(all 500ms)
				&:hover
					opacity: 1
		.intro
			position: absolute
			top: 10%
			width: 100%
			text-align: center
			img.logo
				height: 60px
			h1
				margin: 0
				font-size: 2.5em
				font-weight: 600
				text-shadow(0 4px 0 rgba(0,0,0,.2))
			p
				font-size: 1.28571em
		.explore
			position: absolute
			right: 0
			bottom: 0
			left: 0
			height: 80px
			line-height: 80px
			font-size: 1.28571em
			font-weight: 600
			text-align: center
			color: rgba(home-text-color, 0.4)

	&.overview
		//placeholder

/*------------------------------------*\
    $LOGIN/SIGN_UP
\*------------------------------------*/

.section-wrapper.login, .section-wrapper.register
	color: #333
	background-color: #fff
	overflow: auto
	.header
		width: 960px
		margin: 40px auto 20px
		padding-bottom: 20px
		border-bottom: solid thin line-color
		img.logo
			vertical-align: middle
			height: 35px
		h1
			display: inline
			vertical-align: middle
			margin: 0 10px
			font-size: 2.5em
			font-weight: 600
	.form
		width: 250px
		margin: 0 auto
		padding: 10px 20px 20px
		text-align: center
		.form__control
			position: relative
			padding-top: 10px
			h2
				margin: 0
			input[type="text"], input[type="password"]
				width: 100%
				padding: 15px 10px
				color: home-field-text-color
				background-color: home-field-bg-color
				border: solid thin line-color
		.button
			width: 100%
		#submit-button
			background-color: primary-color
		#switch-signup-link, #switch-login-link
			font-weight: 600
			color: #333
		a.login-fb-button
			height: 17px
			line-height: 47px
			font-size: 0.857142em
			background-color: #4c66a4
			.fb-icon
				position: absolute
				top: 0
				bottom: 0
				left: 0
				width: 47px
				font-size: 1.5em
				background-color: rgba(0,0,0,.15)
			.fb-text
				position: absolute
				top: 0
				right: 0
				bottom: 0
				left: 47px
			&:active>*
				padding-top: 3px
		.error-dialog-box
			position: absolute
			top: 11px
			right: -220px
			color: alert-color
			font-size: 0.857142em
			dialog-box(170px,auto,#eee,'left',13px)

/*------------------------------------*\
    $NAVIGATION_BAR
\*------------------------------------*/

navbar-width = 55px

.navbar
	position: fixed
	top: 0
	bottom: 0
	left: 0
	width: navbar-width
	background-color: navbar-bg-color
	box-shadow(3px 0 0 rgba(0,0,0,.1))

	.logo-small
		height: navbar-width
		background-color: navbar-selected-color
		overflow: auto
		img
			display: block
			height: 35px
			margin: 10px auto

	ul.user-wrapper
		margin: 0
		padding: 0
		list-style: none
		li
			width: 100%
			height: navbar-width
			line-height: navbar-width
			text-align: center
			box-sizing(border-box)
			a
				display: block
				width: 100%
				height: 100%
				color: navbar-text-color
				i
					font-size: 1.2em
			&.selected
				background-color: navbar-selected-color
				border-left: solid 2px primary-color
				border-right: solid 2px transparent
		.seperate-line
			width: 100%
			height: 0
			border-top: solid thin rgba(0,0,0,.1)
			border-bottom: solid thin rgba(255,255,255,.05)

/*------------------------------------*\
    $PROFILE
\*------------------------------------*/

.profile__image
	width: 100px
	height: 100px

/*------------------------------------*\
    $CHAT
\*------------------------------------*/

.user-content
	position: absolute
	top: 0
	right: 0
	bottom: 0
	left: navbar-width
	color: site-text-color

sidebar-width = 217px
	
.groups-list
	position: absolute
	top: 0
	bottom: 0
	left: 0
	width: sidebar-width
	background-color: sidebar-bg-color
	border-right: solid thin #eee
	overflow-y: auto
	.form
		padding: 10px
		.form__control
			position: relative
			input[type="text"]
				width: 100%
				padding: 8px
				color: site-field-text-color
				background-color: site-field-bg-color
				border: solid thin line-color
			.submit-button
				display: block
				position: absolute
				top: 0
				right: 0
				width: 35px
				height: 35px
				padding: 0
				color: primary-color
				background-color: transparent
				border: 0
				outline: none

.group
	margin: 0 10px
	padding: 10px 0 0
	&:last-child
		border-bottom: none
	.group__name
		// margin-bottom: 5px
		font-weight: 600
		color: sidebar-text-color
		cursor: pointer
	.group__list
		.member
			float: left
			height: 24px
			line-height: 24px
			margin: 2px 2px 0 0
			padding: 0 6px
			text-align: center
			font-size: 0.714285em
			font-weight: 700
			color: rgba(255,255,255,.5)
			&.a, &.m, &.y
				background-color: #ec4b43
			&.b, &.n, &.z
				background-color: #8bb5a9
			&.c, &.o
				background-color: #bbad55
			&.d, &.p
				background-color: #e0b0ac
			&.e, &.q
				background-color: #e1ac2c
			&.f, &.r
				background-color: #21544f
			&.g, &.s
				background-color: #d1bfa9
			&.h, &.t
				background-color: #60754e
			&.i, &.u
				background-color: #6c3f46
			&.j, &.v
				background-color: #55897d
			&.k, &.w
				background-color: #c13929
			&.l, &.x
				background-color: #811b28
		.member-avatar
			display: block
			float: left
			width: 24px
			height: 24px
			line-height: 22px
			margin: 2px 2px 0 0
			text-align: center
			background-color: #ccc
			.fa
				font-size: 0.714285em
				color: white
		.add-member-button
			cursor: pointer

#chat-windows-container
	position: absolute
	top: 15px
	right: 15px
	bottom: 15px
	left: sidebar-width + 15
	.guide-dialog-box
		top: 9px

.chat-window
	position: absolute
	top: 5px
	right: 5px
	bottom: 5px
	left: 5px
	background-color: window-bg-color
	.chat-window__helper
		height: 35px
		line-height: 35px
		border-bottom: solid thin site-bg-color
		&>*
			padding: 0 8px
		.helper--title
			float: left
			font-weight: 600
		.helper--share
			float: right
			font-size: 1.142857em
			color: #ccc
			&:hover
				color: primary-color
				cursor: pointer
		.helper--buzz
			float: right
			font-size: 1.142857em
			color: #ccc
		.helper--close-button
			float: right
			font-size: 1.142857em
			color: alert-color
			cursor: pointer
	.chat-window__room
		position: absolute
		top: 36px
		right: 0
		bottom: 46px
		left: 0
		overflow: auto
		.notice
			margin: 15px
			font-size: 0.857142em
			text-align: center
			color: gray
	.chat-window__type
		position: absolute
		right: 0
		bottom: 0
		left: 0
		height: 45px
		border-top: solid thin site-bg-color
		.form__control:nth-of-type(1)
			float: right
			width: 45px
		.chat-submit-button
			width: 45px
			height: 45px
			padding: 0
			font-size: 1.142857em
			color: #ccc
			background-color: transparent
			border: 0
			outline: none
		.form__control:nth-of-type(2)
			margin-right: 45px
		.chat-input
			width: 100%
			height: 45px
			padding: 14px 8px
			background-color: transparent
			resize: none

.chat-line--me
	position: relative
	margin: 15px 20px
	.avatar
		position: absolute
		top: 1px
		right: 0
	.chat-box
		dialog-box(auto,auto,#eee,'right',8px)
		position: relative
		float: right
		min-width: 25%
		max-width: 50%
		margin-right: 50px
		padding: 10px
		font-size: 0.857142em

.chat-line--guest
	position: relative
	margin: 15px 20px
	.avatar
		position: absolute
		top: 1px
		left: 0
	.chat-box
		dialog-box(auto,auto,#eee,'left',8px)
		position: relative
		float: left
		min-width: 25%
		max-width: 50%
		margin-left: 50px
		padding: 10px
		font-size: 0.857142em

.guide-dialog-box
	color: alert-color
	font-size: 0.857142em
	dialog-box(auto,auto,#fff,'left',13px)

#share-popup
	display: inline-block
	position: relative
	width: 900px
	height: 600px
	// width: 80%
	// max-width: 900px
	// height: 80%
	// max-height: 600px
	background-color: window-bg-color
	#share-popup__canvas
		position: absolute
		top: 10px
		right: 10px
		bottom: 50px
		left: 10px
		background-color: gray
	#share-form
		position: absolute
		bottom: 0

#add-member-popup
	display: inline-block
	position: relative
	width: 400px
	height: 600px
	background-color: window-bg-color
	#popup__search
		.form
			@extend .groups-list .form
			.form__control>.submit-button
				color: #ccc
	#popup__results
		position: absolute
		top: 56px
		right: 0
		bottom: 60px
		left: 0
		overflow-y: auto
		.single-result
			margin: 0 10px
			padding: 10px 0
			text-align: left
			border-bottom: dotted thin line-color
			&:last-child
				border-bottom: none
			.fa
				margin-right: 10px
			.fa-check-square
				color: success-color
			.fa-plus-square
				color: gray
			&.not-a-member
				cursor: pointer
			&.chosen
				.fa-plus-square
					color: primary-color
	#popup__buttons
		position: absolute
		right: 0
		bottom: 0
		left: 0
		padding: 10px
		border-top: solid thin site-bg-color
		.cancel-button
			float: left
			width: 185px
			margin-right: 10px
			background-color: gray
			border-bottom-color: darken(gray, 20%)
		.confirm-button
			float: left
			width: 185px
			background-color: primary-color
			border-bottom-color: darken(primary-color, 20%)

/*------------------------------------*\
    $401
\*------------------------------------*/

.gandalf
	position: absolute
	top: 50%
	left: 50%
	margin-top: -75px
	margin-left: -75px
	width: 150px
	color: site-text-color
	.gandalf__avatar
		margin: 0 auto
		background-image: url('/images/gandalf_avt.jpg')
	.gandalf__quote
		margin: 12px 0 2px
		text-align: center
	.gandalf__author
		text-align: right
		font-size: 0.857142em

/*------------------------------------*\
    $COMPONENTS
\*------------------------------------*/

.button
	display: block
	position: relative
	color: white
	text-transform: uppercase
	border: 0
	outline: none
	&:active
		box-shadow(inset 0 3px 5px rgba(0,0,0,.5))

.button.large
	@extend .button
	padding: 15px 0
	&:active
		padding: 18px 0 12px

.button.small
	@extend .button
	padding: 8px 0
	&:active
		padding: 11px 0 5px

.clear
	clear: both

.avatar
	width: 100px
	height: 100px
	background-repeat: no-repeat
	background-position: center
	background-size: cover
	border-radius(50%)
	&.small
		width: 35px
		height: 35px

.overlay
	display: table
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	background-color: rgba(black, .5)
	z-index: 10
	.center
		display: table-cell
		vertical-align: middle
		text-align: center

.drop-shadow
	box-shadow(0 2px 2px rgba(0,0,0,.15))

.round-corner
	border-radius(4px)

.ios7-effect
	-webkit-filter: blur(5px)brightness(50%)
	// opacity: 0.7
	// -webkit-filter: grayscale(100%)blur(5px)

/*------------------------------------*\
    $ANIMATIONS
\*------------------------------------*/

.fade-in
	animation(fade-in 500ms 1 forwards ease-out)
@keyframes fade-in
	0%
		opacity: 0
	100%
		opacity: 1

.jelly-show
	animation(jelly-show 500ms 1 forwards ease-out)
.jelly-hide
	animation(jelly-hide 250ms 1 forwards ease-out)
@keyframes jelly-show
	0%
		transform(scale(0.0))
	50%
		transform(scale(1.0))
	75%
		transform(scale(0.95))
	100%
		transform(scale(1.0))
@keyframes jelly-hide
	0%
		transform(scale(1.0))
	100%
		transform(scale(0.0))

.zoom-in
	animation(zoom-in 200ms 1 forwards ease-out)
@keyframes zoom-in
	0%
		transform(scale(0.0))
	100%
		transform(scale(1.0))

.ding-dong
	color: alert-color
	animation(ding-dong 500ms 1 forwards ease)
	transform-origin(50% 0%)
@keyframes ding-dong
	0%
		transform(rotate(30deg))
	50%
		transform(rotate(-30deg))
	75%
		transform(rotate(30deg))
	100%
		transform(rotate(0deg))