.fitgrid-slot
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  transition: all 200ms ease;

  &.slot--13
    right: 50%
  &.slot--24
    left: 50%

  &.slot--11
    right: 50%
    bottom: 50%
  &.slot--22
    left: 50%
    bottom: 50%
  &.slot--33
    right: 50%
    top: 50%
  &.slot--44
    left: 50%
    top: 50%