doctype html
html
	head
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title Join | 401

		link(rel='stylesheet', href='/stylesheets/libs/font-awesome.css')
		link(rel='stylesheet', href='/stylesheets/libs/glyphicons.css')
		link(rel='stylesheet', href='/stylesheets/libs/normalize.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		div#wrapper
			div.gandalf
				div.gandalf__avatar.avatar
				div.gandalf__quote
					i
						q You shall not pass
				div.gandalf__author
					| Gandalf The Grey