extends layout

block content
	div.section-wrapper.welcome
		div.header
			a#login-button(href="/login")
				| Sign in
		div.intro
			img.logo(src="images/logo_60.png")
			h1
				| Teamwork Better
			p
				| JOIN supports multiple chat windows, image realtime sharing, 
				br
				| managing tasks and more...
		div.explore
			| Take the tour 
			i.fa.fa-chevron-circle-down

	div.section-wrapper.overview