doctype html
html
	head
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title Join | Teamwork Support Application

		link(rel='stylesheet', href='/stylesheets/libs/font-awesome.css')
		link(rel='stylesheet', href='/stylesheets/libs/glyphicons.css')
		link(rel='stylesheet', href='/stylesheets/libs/normalize.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
			
		script(src='/javascripts/libs/modernizr.js')
		script(src='/javascripts/libs/jquery.js')
		script(src='/javascripts/libs/jquery.form.js')
		script(src='http://d3lp1msu2r81bx.cloudfront.net/kjs/js/lib/kinetic-v5.0.1.min.js')
		script(src='/javascripts/libs/underscore-min.js')
		script(src='/javascripts/libs/backbone-min.js')
		script(src='/javascripts/libs/handlebars.js')
		script(src='/socket.io/socket.io.js')
		script(src='/javascripts/helpers.js')
	body
		div#wrapper
			block content