extends layout

block content
  include includes/_header
  div.user-content

  script(id="allGroupsTemplate", type="text/x-handlebars-template").
    <form id="new-group-form" class="form" method="POST" action="/users/{{user.username}}/groups", autocomplete="off">
      <div class="form__control">
        <input name="group_name" type="text" placeholder="New group"/>
        <button id="submit-button" type="submit">
          <i class="fa fa-plus"></i>
        </button>
      </div>
      <div class="clear"></div>
    </form>
    
    {{#each this}}
      <div id="group-tab-{{_id}}" class="group">
        <div class="group__name" data-groupid="{{_id}}">
          {{group_name}}
        </div>
        <div class="group__list">
          {{#each users}}
            <!-- - var acronym = user.fullname.match(/\b(\w)/g).join('')
            - var char = acronym.charAt(0).toLowerCase()
            div(class="member #{char}")
              = acronym -->
            <img src="{{avatar}}" class="member-avatar" title="{{fullname}}"/>
          {{/each}}
        </div>
        <div class="clear"></div>
      </div>
    {{/each}}

  script(src='/javascripts/main.js')
  script(src='/javascripts/models.js')
  script(src='/javascripts/collections.js')
  script(src='/javascripts/views.js')
  script(src='/javascripts/router.js')
  script(type='text/javascript').
    window.currentUser = !{JSON.stringify(user)};
    new App.Router;
    Backbone.history.start();