extends layout

block content
	include includes/_navbar
	div.user-content

	script(src='/javascripts/libs/fitgrid.jquery.js')
	script(src='/javascripts/main.js')
	script(src='/javascripts/models.js')
	script(src='/javascripts/collections.js')
	script(src='/javascripts/views.js')
	script(src='/javascripts/router.js')
	script(type='text/javascript').
		window.currentUser = !{JSON.stringify(user)};
		TemplateManager.preloadPartials(function() {
			new App.Views.App();
			new App.Router;
			Backbone.history.start();
		});